<%- include('../../partials/header.ejs') %>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <div class="d-flex card card-body">
        <div>
          <img src="/uploads/<%= author.profilePics %> " alt="author" class="img-thumbnail img-fluid">
        </div>
        <div class="ml-4 my-4">
          Name: <strong><%= author.username %> </strong> <br>
          Email: <strong><%= author.email %> </strong> <br>
          Website: <a href="<%= author.profile.links.website%>" target="_blank"><strong><%= author.profile.links.website ? author.profile.links.website : '' %> </strong> </a><br />
          Facebook: <a href="<%= author.profile.links.facebook%>" target="_blank"><strong><%= author.profile.links.facebook ? author.profile.links.facebook : '' %> </strong></a><br />
          Twitter: <a href="<%= author.profile.links.twitter %> "><strong><%= author.profile.links.twitter ? author.profile.links.twitter : '' %> </strong></a><br />
          Github: <a href="<%= author.profile.links.github %> "><strong><%= author.profile.links.github ? author.profile.links.github : '' %> </strong></a><br />
          About: <%= author.profile.bio %>
        </div>
      </div>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
</body>

</html>