<%- include('../../partials/header.ejs') %>
<div class="container my-5">
  <div class="row">
    <div class="col-md-6 offset-md-3">
      <section class="mb-5">
        <a href="/explorer?filter=latest" class="btn <%= filter === 'latest' ? 'btn-outline-success' : 'btn-outline-secondary' %>">Latest</a>
        <a href="/explorer?filter=week" class="btn <%= filter === 'week' ? 'btn-outline-success' : 'btn-outline-secondary' %>">Month</a>
        <a href="/explorer?filter=month" class="btn <%= filter === 'month' ? 'btn-outline-success' : 'btn-outline-secondary' %>">Week</a>
        <a href="/explorer?filter=all" class="btn <%= filter === 'all' ? 'btn-outline-success' : 'btn-outline-secondary' %>">All</a>
      </section>
      <section>
        <% if(posts.length===0) { %>
        <p class="text-center text-muted">There is no posts</p>
        <% } else { %>
        <% for(let post of posts) { %>
        <div class="card card-body mb-3">
          <% if(post.thumbnail) { %>
          <img src="<%= post.thumbnail %> " alt="<%= post.title %> " class="img-fluid mb-2" />
          <% } %>
          <a href="/explorer/<%= post._id %> ">
            <h5>
              <%= post.title %>
            </h5>
            <p class="mb-4">
              <%= truncate(post.body) %>
            </p>
          </a>
          <div class="d-flex">
            <small>
              <%= moment(post.createdAt) %>, Posted By <a href="/author/<%= post.author._id %> "><%= post.author.username %></a>
              , <%= post.readTime %>
            </small>
            <% if(user) { %>
            <span class="ms-auto bookmark" data-post="<%= post._id %> ">
              <% if(bookmarks.includes(post._id)) { %>
              <i class="fas fa-bookmark"></i>
              <% } else { %>
              <i class="far fa-bookmark"></i>
              <% } %>
            </span>
            <% } %>
          </div>
        </div>
        <% } %>
        <% } %>
      </section>
      <% if(totalPages> 1) { %>
      <nav>
        <ul class="pagination">
          <li class="page-item <%= currPage === 1 ? 'disabled': '' %>">
            <a href="<%= `/explorer?filter=${filter}&page=${currPage-1}` %> " class="page-link">Previous</a>
          </li>

          <% for(let i=0; i <=totalPages; i++) { %>
          <li class="page-item <%= currPage === i ? 'active' : '' %>">
            <a href="<%= `/explorer?filter=${filter}&page=${i}` %> " class="page-link">
              <%= i %>
            </a>
          </li>
          <% } %>

          <li class="page-item <%= currPage === totalPages ? 'disabled': '' %>">
            <a href="<%= `/explorer?filter=${filter}&page=${currPage+1}` %> " class="page-link">Next</a>
          </li>
        </ul>
      </nav>
      <% } %>
    </div>
  </div>
</div>

<%- include('../../partials/footer.ejs') %>
<script src="/scripts/bookmark.js"></script>