<%- include('../../../partials/header.ejs') %>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/croppie/2.6.4/croppie.css" integrity="sha512-2eMmukTZtvwlfQoG8ztapwAH5fXaQBzaMqdljLopRSA0i6YKM8kBAOrSSykxu9NN9HrtD45lIqfONLII2AFL/Q==" crossorigin="anonymous" referrerpolicy="no-referrer"
    />
    <div class="container-fluid">
        <div class="row">
            <div class="col-md-2">
                <a href="/dashboard">Dashboard</a><br>
                <a href="/posts">My posts</a><br>
                <a href="/dashboard/create-profile">Create Profile</a><br>
                <a href="/posts/create">Create Post</a>
            </div>
            <div class="col-md-10">
                <div class="card card-body">
                    <h4>List of my all Posts</h4>
                    <div class="row">
                        <% if(posts.length === 0) { %>
                            <div class="text-center text-muted">
                                <p>There is no post available right row</p>
                                <a href="/posts/create" class="btn btn-outline-success">Create Post</a>
                            </div>
                            <% } else {%>
                                <% for(let post of posts) { %>
                                    <div class="card col-sm-3 m-3">
                                        <% if(post.thumbnail) { %>
                                            <img src="<%= post.thumbnail %>" alt="<%= post.title %> " class="card-img-top mt-3">
                                            <% } %>
                                                <div class="card-body">
                                                    <a href="/posts/edit/<%= post._id %>" style="color: #222;">
                                                        <h5>
                                                            <%= post.title %>
                                                        </h5>
                                                    </a>
                                                </div>
                                    </div>
                                    <% } %>
                                        <% } %>
                    </div>
                </div>
            </div>
        </div>
    </div>

    </div>

    <%- include('../../../partials/footer.ejs') %>

        </body>

        </html>